{{#if resume.work }}
<div class='block'>
    <h2><i class="fa-solid fa-rocket"></i> Experience</h2>
    {{#each resume.work }}
    <div class='item'>
        <h3 class='icon-right-open-mini'>
            <i class="fa-solid fa-chevron-right fa-sm"></i>
            <em>{{name}}</em>
            <span>{{ dateFormat "MMM YYYY" startDate }} – {{ dateFormat "MMM YYYY" endDate }}</span>
        </h3>
        <h4>{{position}}</h4>
        <div>{{{summary}}}</div>
    </div>
    {{/each}}
</div>
{{/if}}